<a class="" href="#main-content">Skip to content</a>
<header role="banner" class="container">
    <div class="">
      <a href="/" aria-label="{{ site.name }} - home">
        LOGO
      </a>
      <nav
        class=""
        aria-label="Primary navigaton"
      >
        <ul class="flex justify-end">
          {% for item in navigation.items %}
          <li class="mr-6 hover:underline">
            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
              >{{ item.text }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
</header>